.context-form {
    width: 30%;
    margin: 50px auto;
}
.context-form input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 10px;
}
.context-form p {
    margin: 0 0 10px 0;
}
.context-form textarea {
    padding: 10px;
}