.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background: lightblue;
}
.menu li a {
    text-decoration: none;
    display: inline-flex;
    padding: 20px 0;
    width: 200px;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}

.menu li a:hover {
    background: grey;
    color: white;

}