.card-container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    column-gap: 20px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
h1, p {
    margin: 0;
}
.card-container .card__img img {
    width: 100%;
    object-fit: cover;
}