.container {
  .heading {
    font-size: 40px;
    color: red;
  }

  .subHeading {
    font-size: 20px;
    color: rgb(43, 41, 41);
  }
}
.title {
}

// [ComponentName]_[className]_[:id]
// StyleModule_heading_264kdj
// Menu_heading_1234ed
